{% load static %}
<!-- Topbar Start -->
<div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-phone-alt me-2"></small>
                <small>0850 303 39 35</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="far fa-envelope-open me-2"></small>
                <small>servereymus@hotmail.com</small>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0"><img class="img-fluid me-3" src="{% static 'temp/img/icon/icon-02-primary.png' %}" alt="">Özel
            Teknik Servis</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto bg-light pe-4 py-3 py-lg-0">
            <a href="{% url 'home' %}" class="nav-item nav-link active">Anasayfa</a>
            <a href="{% url 'hakkimizda' %}" class="nav-item nav-link">Hakkımızda</a>
            <a href="{% url 'hizmetlerimiz' %}" class="nav-item nav-link">Hizmetlerimiz</a>
            <a href="{% url 'iletisim' %}" class="nav-item nav-link">İletişim</a>
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <h1 class="mb-0"><a href="tel:08503033935">0850 303 39 35</a></h1>
        </div>
    </div>
</nav>
<!-- Navbar End -->