{% extends 'base.html' %}

{% load static %}







{% block content %}

 <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Hizmetlerimizden Bazıları</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/firin-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-11-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Fırın Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/bulasik-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-12-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Bulaşık Makinesi Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/camasir-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-13-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Çamaşır Makinesi Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/buzdolabi-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-14-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Buzdolabı Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/derindondurcu-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-15-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Derin Dondurucu Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/klima-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-16-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Klima Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/mikrodalga-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-17-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Mikrodalga Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/kurutma-1.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-17-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Kurutma Makinesi Tamiri</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'temp/img/kombi.jpg' %}" alt="">
                        <div class="d-flex align-items-center bg-light">
                            <div class="service-icon flex-shrink-0 bg-primary">
                                <img class="img-fluid" src="{% static 'temp/img/icon/icon-19-light.png' %}" alt="">
                            </div>
                            <a class="h4 mx-4 mb-0" href="">Kombi Tamiri</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->




{% endblock %}