{% extends 'base.html' %}
{% load static %}





{% block content %}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'temp/img/carousel-1.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <style>
                                .button-group {
                                    display: flex;
                                    justify-content: space-between;
                                }

                                .button-group .btn {
                                    margin-right: 10px;
                                    border-radius: 20px;
                                }

                                .fa-lg {
                                    font-size: 24px;
                                }
                            </style>

                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4 animated slideInDown">Hızlı ve Güvenilir Beyaz Eşya
                                    Servisi</h1>
                                <p class="fs-5 text-body mb-4 pb-2 mx-sm-5 animated slideInDown">Her türlü beyaz eşya
                                    tamiri için bize ulaşın! Profesyonel & Garantili hizmet alın.</p>
                                <div class="button-group d-flex flex-column flex-lg-row justify-content-center">
                                    <a href="tel:05557606348"
                                       class="btn btn-primary py-3 px-5 me-lg-3 mb-2 mb-lg-0 animated slideInDown">
                                        <i class="fa fa-phone-alt fa-lg" aria-hidden="true"></i> Hemen Arayın
                                    </a>
                                    <a href="https://wa.me/905557606348"
                                       class="btn btn-success py-3 px-5 me-lg-3 mb-2 mb-lg-0 animated slideInDown">
                                        <i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i> Whatsapp İle İletişim
                                        Kurun
                                    </a>
                                    <a href="tel:0123456789" class="btn btn-warning py-3 px-5 animated slideInDown">
                                        <i class="fas fa-phone-alt fa-lg" aria-hidden="true"></i> Hemen Sizi Arayalım
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'temp/img/carousel-2.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">

                            <style>
                                .button-group {
                                    display: flex;
                                    justify-content: space-between;
                                }

                                .button-group .btn {
                                    margin-right: 10px;
                                    border-radius: 20px;
                                }

                                .fa-lg {
                                    font-size: 24px;
                                }
                            </style>


                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4 animated slideInDown">Hızlı ve Güvenilir Beyaz Eşya
                                    Servisi</h1>
                                <p class="fs-5 text-body mb-4 pb-2 mx-sm-5 animated slideInDown">Her türlü beyaz eşya
                                    tamiri için bize ulaşın! Profesyonel & Garantili hizmet alın.</p>
                                <div class="button-group d-flex flex-column flex-lg-row justify-content-center">
                                    <a href="tel:05557606348"
                                       class="btn btn-primary py-3 px-5 me-lg-3 mb-2 mb-lg-0 animated slideInDown">
                                        <i class="fa fa-phone-alt fa-lg" aria-hidden="true"></i> Hemen Arayın
                                    </a>
                                    <a href="https://wa.me/905557606348"
                                       class="btn btn-success py-3 px-5 me-lg-3 mb-2 mb-lg-0 animated slideInDown">
                                        <i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i> Whatsapp İle İletişim
                                        Kurun
                                    </a>
                                    <a href="tel:0123456789" class="btn btn-warning py-3 px-5 animated slideInDown">
                                        <i class="fas fa-phone-alt fa-lg" aria-hidden="true"></i> Hemen Sizi Arayalım
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Geri</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">ileri</span>
        </button>
    </div>

</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Profesyonel Beyaz Eşya Tamiri</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{% static 'temp/img/icon/icon-07-primary.png' %}"
                                     alt="">
                                <h5 class="mb-0">Uzman Ekibimiz</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{% static 'temp/img/icon/icon-09-primary.png' %}"
                                     alt="">
                                <h5 class="mb-0">Hızlı ve Kaliteli Hizmet</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">Arızalı beyaz eşyalarınız için adresinize gelen uzman teknik ekibimiz, mümkün olduğu
                        durumlarda yerinde tamir yapmaktadır. Mümkün olmadığı durumlarda ise beyaz eşyanızı alarak kısa
                        sürede tamir edip size teslim ederiz.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-phone-alt text-white"></i>
                                    </div>
                                    <h5 class="mb-0"><a href="tel:05557606348">+90 555 760 63 48</a></h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-envelope text-white"></i>
                                    </div>
                                    <h5 class="mb-0"><a
                                            href="mailto:servereymus@hotmail.com">servereymus@hotmail.com</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid w-75 wow zoomIn" data-wow-delay="0.1s"
                             src="{% static 'temp/img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid w-75 wow zoomIn" data-wow-delay="0.3s"
                             src="{% static 'temp/img/about-2.jpg' %}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-75 wow zoomIn" data-wow-delay="0.5s"
                             src="{% static 'temp/img/about-3.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid w-75 wow zoomIn" data-wow-delay="0.7s"
                             src="{% static 'temp/img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">Neden Bizi Tercih Etmelisiniz?</h1>
                <p class="mb-5">Hızlı ve güvenilir çözüm sunmamız ve geniş yedek parça yelpazemiz ile müşterilerimiz
                    bizi tercih etmektedir.</p>
                <div class="d-flex mb-5">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 90px; height: 90px;">
                        <img class="img-fluid" src="{% static 'temp/img/icon/icon-08-light.png' %}" alt="">
                    </div>
                    <div class="ms-4">
                        <h5 class="mb-3">Güvenilir Servis Merkezi</h5>
                        <span>Şehir merkezinde kolay ulaşılabilir lokasyonumuz.</span>
                    </div>
                </div>
                <div class="d-flex mb-5">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 90px; height: 90px;">
                        <img class="img-fluid" src="{% static 'temp/img/icon/icon-10-light.png' %}" alt="">
                    </div>
                    <div class="ms-4">
                        <h5 class="mb-3">Uygun Fiyatlar</h5>
                        <span>Stoklu yedek parça ile en uygun fiyatlar.</span>
                    </div>
                </div>
                <div class="d-flex mb-0">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 90px; height: 90px;">
                        <img class="img-fluid" src="{% static 'temp/img/icon/icon-06-light.png' %}" alt="">
                    </div>
                    <div class="ms-4">
                        <h5 class="mb-3">7/24 Acil Destek</h5>
                        <span>Sorunlarınıza hızlı çözümler sunmaktayız.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative rounded overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{% static 'temp/img/feature.jpg' %}" alt=""
                         style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Hizmetlerimizden Bazıları</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/firin-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-11-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Fırın Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/bulasik-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-12-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Bulaşık Makinesi Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/camasir-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-13-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Çamaşır Makinesi Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/buzdolabi-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-14-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Buzdolabı Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/derindondurcu-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-15-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Derin Dondurucu Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/klima-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-16-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Klima Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/mikrodalga-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-18-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Mikrodalga Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/kurutma-1.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-17-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Kurutma Makinesi Tamiri</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'temp/img/kombi.jpg' %}" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <div class="service-icon flex-shrink-0 bg-primary">
                            <img class="img-fluid" src="{% static 'temp/img/icon/icon-19-light.png' %}" alt="">
                        </div>
                        <a class="h4 mx-4 mb-0" href="">Kombi Tamiri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Quote Start -->
<div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 quote-text" data-parallax="scroll" data-image-src="img/carousel-1.jpg">
                <div class="h-100 px-4 px-sm-5 ps-lg-0 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="text-white mb-4">Bireysel ve Kurumsal firmalarada hizmet vermekteyiz.</h1>
                    <p class="text-light mb-5">Bireysel ve Kurumsal acil beyaz eşya teknik servisi.</p>
                    <a href="tel:05557606348" class="align-self-start btn btn-primary py-3 px-5">Tıkla Hemen Ara</a>
                </div>
            </div>
            <div class="col-lg-6 quote-form" data-parallax="scroll" data-image-src="img/carousel-2.jpg">
                <div class="h-100 px-4 px-sm-5 pe-lg-0 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white p-4 p-sm-5">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="gname" placeholder="Gurdian Name">
                                    <label for="gname">İsminiz</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="gmail" placeholder="Gurdian Email">
                                    <label for="gmail">Mail Adresiniz</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cname" placeholder="Child Name">
                                    <label for="cname">Telefon Numaranız</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cage" placeholder="Child Age">
                                    <label for="cage">Arızalı Ürün Tipi</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                              style="height: 80px"></textarea>
                                    <label for="message">Notlarınız</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Servis Talebi Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->
{% endblock %}